/* header  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.title {
  color: #4b494a;
  font-size: 14px;
}

.gnb {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eccfd6;
  clip-path: circle(20px at calc(100% - 35px) 30px);
  transition: all 0.3s ease-out;
}

.gnb.active {
  clip-path: circle(75%);
}

.gnb-btn::before {
  display: block;
  font-size: 18px;
  color: #fff;
  content: '\f0c9';
}

.gnb-btn.active::before {
  content: '\f00d';
}

.gnb-btn {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: #eccfd6;
  z-index: 5;
}

.gnb-list {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.gnb-list li {
  margin-bottom: 15px;
}

.gnb-list a {
  display: block;
  width: 200px;
  padding: 5px 10px;
  margin: 0 auto;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  transition: color 0.3s linear;
}

.gnb-list a:hover {
  color: #413b3c;
}

/* main  */
.main {
  padding: 0 5px;
}

.about {
  padding: 0 10px;
}

.about-img {
  width: 100%;
}

.about-desc {
  padding: 20px 0;
  font-size: 16px;
}

.about-link {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eccfd6;
}
